<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="FaceCompareInfo" type="System.Configuration.NameValueSectionHandler"/>
  </configSections>
  <FaceCompareInfo>
    <add key ="captureTime" value="时间"/>
    <add key ="personName" value="姓名"/>
    <add key ="sex" value="性别"/>
    <add key ="telePhone" value="手机号"/>
    <add key ="similarityDegree" value="相似度"/>
    <add key ="bigImage" value="抓拍大图"/>
    <add key ="faceImage" value="抓拍头像"/>
    <add key ="compareImage" value="对比照片"/>
  </FaceCompareInfo>
  <appSettings>
    <add key="deviceIp" value="192.168.0.79"/>
    <add key="devicePort" value="8000"/>
    <add key="channel" value="33"/>
    <add key="userName" value="admin"/>
    <add key="userPwd" value="123qweasd"/>
    <add key="staytime" value="3000"/>
    <add key="disappeartime" value="10000"/>
  </appSettings>
</configuration>